
/* about us sections *************************************************** */
#about-section {
    width: 100%;
    margin: 20px;
    position: relative;
} 

#about-us-header {
    margin: 75px 20px 20px 20px; /* to accomodate for the menu bar  and some space */
    padding: 10;
    position: relative;
    text-align: center;
  }
  
  #about-us-header > h1 {
    font-size: 175%;
    font-weight: bold;
    text-transform: uppercase;
  }

  #about-us-header > p {
    font-size: 100%;
    margin-top: 10px;
  }

  .hand-drawn-divider {
    border-bottom: 2px dashed var(--copy-color);
    margin: 0 auto;
    width: 70%;
    margin: 20px auto; 
  }

  #about-grid {
    width: 80%;
    margin: 0 auto; /* Align horizontally in the center of the viewport */
  }
  
  #about-us-img, 
  #about-us-text {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    position: relative;
    gap: 10px;
    padding: 10px;
    margin: 1% 0;
  }
  
   #about-us-text h2 {
    color: var(--copy-color);
    font-size: 100%;
    font-weight: bold;
    font-family: var(--std-font), sans-serif;
    text-transform: uppercase;
    padding: 10px;
    margin: 0;
  }

  #about-us-img video {
    width: 100%;
    height: auto;
    object-fit: cover;
    align-self: center;
    padding: 0;
    margin: 0;
  }

  #about-us-text p {
    color: var(--copy-color);
    font-family: var(--std-font), sans-serif;
    font-size: 100%;
  }

  /* contact sections *************************************************** */
  #contact-section {
    width: 100%;
    margin: 20px;
    position: relative;
  }

  #contact-grid {
    width: 80%;
    margin: 0 auto; 
    padding: 0 10px;
  }
  
  #contact-div, 
  #opening-hours-div {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    position: relative;
    padding: 1px;
    margin: 1% 0;
  }
  
   #contact-div > h2, 
   #opening-hours-div > h2 {
    color: var(--copy-color);
    font-size: 100%;
    font-weight: bold;
    font-family: var(--std-font), sans-serif;
    text-transform: uppercase;
    padding: 0;
    margin: 10px 0 3px 0;
  }


  #contact-div > p, 
  #opening-hours-div > p {
    color: var(--copy-color);
    font-family: var(--std-font), sans-serif;
    font-size: 100%;
    padding: 0;
    margin: 0;
  }

  /* news letter section baseline copied from I love running project*/
#newsletter {
  display: flex;
  background-size: cover;
  background-position: 75%;
  flex-grow: 1;
  padding: 20px 10% 20px 10%;
  position: relative;
  margin: 20px;
  width: 100%;
}

#subscribe-form > h2 {
  color:  var(--copy-color-on-dark);
  margin-bottom: 30px;
}

.text-input {
  color: var(--copy-color-on-dark);
  border: 1px solid  var(--copy-color-on-dark);
  border-radius: 2px;
  margin: 5px 0 20px 0;
  height: 25px;
  width: 100%;
  background: transparent;
  padding: 0 5px;
  
}

#subscribe-form {
  padding: 30px;
  color: var(--copy-color-on-dark) ;
  background-color: var(--bkgr-color-dark);
}

.checkboxes {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.subscribe-button {
  border-radius: 2px;
  background-color: var(--empf-color);
  color: #fafafa;
  font-size: 100%;
  margin-top: 20px;
  align-self: center;
  width: 90px;
  height: 40px;
}

/* Media query: typical breakpoints ************************************** */
/* *********************************************************************** */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
 
}

/* Media query: tablets and larger (768px and up */
@media screen and (min-width: 768px) {

  /* Menue Bar and Header section *********** */
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }

  #menu {
    display: flex;
  }

  #menu>li {
    padding-left: 1rem
  }

  .nav-toggle-label {
    display: none;
  }

  #logo {
    font-size: 150%;
    line-height: 75px;
    margin: 0 0.5rem;
  }

  /*  floating nav element class ****************************************** */
  #floating-nav-container {
    top: 85%;
  }

  #about-us-header {
    margin-top: 100px; /* to accomodate for the menu bar  and some space */
  }

  /* contact section **************************************************** */

/*   #contact-section {
    margin: 0;
  }

  #contact-grid {
    margin: 0; 
  } */
 
}

/* Mobilephones in landscape mode 667px and up */
@media screen and (min-width: 667px) 
  and (orientation: landscape) {
  /* we only need to adjust the Hero/Vision text and the floating nav bar to be visible in landscape mode on a mobile*** */

   #floating-nav-container {
    top: 65%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  #floating-nav-container {
    top: 85%;
  }

}
 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

   
}

/* Extra large devices (large laptops and desktops, 1736px and up) */
@media only screen and (min-width: 1736px) {

}