/* Hero Section for vision */
#vision {
  position: relative;
  top: 0;
  left: 0;
  border-radius: 2%;
  margin-top: 49px; /* to accomodate for the menu bar */
  margin-bottom: 10px;
  padding: 0;
  height: 30vh;
  width: 100%;
  background: url("../images/organic-farm-harvests-fresh-fruit-vegetables-generated-by-ai_188544-36467.avif") no-repeat center center/cover
}

#vision-text {
  color: var(--copy-color-on-dark);
  font-size: 180%;
  text-transform: uppercase;
  font-family: var(--std-font), sans-serif;
  font-weight: bold;
  position: absolute;
  bottom: 30px;
  width: 300px;
  padding: 10px;
  border-radius: 2%;
  margin-left: 1%;
  text-align: left;
}

/* Product Categories **************************************** */
#product-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.category-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  gap: 10px;
}

.product-category {
  text-align: center;
  width: 80px;
  height: 80px;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-top: 5.5%;
  color: var(--hdline-on-card);
  font-family: var(--std-font), sans-serif;
  font-weight: bold;
  background-color: var(--box-color);
  border-radius: 10%;
  box-shadow: rgba(37, 77, 50, 0.25) 0px 14px 55px,
    rgba(37, 77, 50, 0.12) 0px -12px 20px,
    rgba(37, 77, 50, 0.12) 0px 4px 6px,
    rgba(37, 77, 50, 0.17) 0px 12px 13px,
    rgba(37, 77, 50, 0.09) 0px -3px 5px;
}

.product-category p {
  font-size: 0.7rem;
}

.product-category i {
  font-size: 1.7rem;
}

.product-category a {
  /* text-decoration: none; */
  color: var(--hdline-on-card);
}

/* special offers carousel ****************************** example taken from: https://codepen.io/tutsplus/pen/zYyGpYo */
.offers {
  margin: 9% 5% 3% 35px;
}

#special-offers {
  /* creating a gradiant effect fot the background */
  background: rgb(37, 77, 50);
  background: linear-gradient(0deg, rgba(37, 77, 50, 1) 33%, rgba(255, 255, 255, 1) 89%);
  overflow: visible;
  justify-content: space-around;
  margin: 0 0 0 20px;
  position: relative;
  padding-bottom: 15px;
}

.offers h2 {
  font-size: 100%;
  color: var(--copy-color);
  margin: 0 0 15px 40px;
}

#offer-cards {
  position: relative;
}

.list {
  display: flex;
  gap: 8px;
  padding: 16px 16px 40px 16px;
  list-style: none;
  overflow-x: auto; /* Changed from scroll to auto */
  scroll-snap-type: x mandatory;
  scrollbar-width: none;  /* For Firefox */
}

/* For Chrome, Safari, and other WebKit-based browsers */
.list::-webkit-scrollbar {
  display: none;
}

.item {
  flex-shrink: 0;
  width: 60%;
  height: 300px;
  background-color: #FFF;
  scroll-snap-align: center;
  border-radius: 5%;
}

.content {
  align-items: center;
  justify-content: left;
  height: 100%;
  color: var(--copy-color);
  font-family: var(--std-font), sans-serif;
  font-size: 85%;
  text-align: left;
}

.content p {
  padding: 0 5% 0 5%;
}

.restrictions {
  margin-bottom: 5px;
}

.offer-text {
  font-size: 110%;
}

.pricing {
  font-weight: bold;
  margin-top: 15px;
}

.slide-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}

.button {
  position: absolute;
  top: 88%;
  width: 2rem;
  height: 1.5rem;
  padding-bottom: 1px;
}

.button--previous {
  left: 40%;
  transform: rotate(180deg);
}

.button--next {
  right: 40%;
}

/* guiding-principles section *********************************** */
#guiding-principles {
  line-height: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-bottom: 20px;
}

/* heading left and vertical */
.grid-container-left {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 1px;
}

.horizontal-left {
  text-align: left;
}

.vertical-left {
  writing-mode: vertical-rl;
  padding-right: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--bkgr-color-dark);
  color: var(--copy-color-on-dark);
}

/* heading right and vertical */
.grid-container-right {
  display: grid;
  grid-template-columns: 1fr 40px;
  gap: 1px;
}

.horizontal-right {
  text-align: right;
}

.vertical-right {
  writing-mode: vertical-rl;
  line-height: 30px;
  padding-right: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: var(--bkgr-color-dark);
  color: var(--copy-color-on-dark);
}

#guiding-principles h2 {
  font-family: var(--std-font) sans-serif;
  margin-bottom: 15px;
  font-size: 100%;
}

#guiding-principles h3 {
  font-family: var(--std-font) sans-serif;
  margin-bottom: 1%;
  font-size: 75%;
  color: var(--copy-color-on-dark);
}

#guiding-principles p {
  font-size: 90%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Media query: typical breakpoints ************************************** */
/* *********************************************************************** */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .carousel-slide {
    flex: 1 0 80%;
  }
}

/* Media query: tablets and larger (768px and up */
@media screen and (min-width: 768px) {

  /* Menue Bar and Header section *********** */
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }

  #menu {
    display: flex;
  }

  #menu>li {
    padding-left: 1rem
  }

  .nav-toggle-label {
    display: none;
  }

  #logo {
    font-size: 150%;
    line-height: 75px;
    margin: 0 0.5rem;
  }

  /*  floating nav element class ****************************************** */
  #floating-nav-container {
    top: 85%;
  }

  /* Vision Section ****************************************************** */
  #vision {
    height: 30vh;
    margin-top: 80px; /* to accomodate for the menu bar */
  }

  #vision-text {
    font-size: 250%;
    width: 500px;
  }

  /* Product Categories **************************************************** */
  .product-category {
    width: 100px;
    height: 100px;
    padding-top: 5.5%;
  }

  /* special offers carousel ****************************** */
  .offers {
    margin: 4% 0 3% 0;
  }

  .list {
    gap: 10px;
  }

  .item {
    width: 35%;
  }

  .button--previous {
    left: 45%;
  }

  .button--next {
    right: 45%;
  }

  /* Guiding Principles Section ******************************************** */
  .grid-container-left {
    grid-template-columns: 100px 1fr;
  }

  .grid-container-right {
    grid-template-columns: 1fr 100px;
  }

  .vertical-right,
  .vertical-left {
    padding: 5px 0 5px 0;
    line-height: 20px;
  }

  .grid-item {
    margin-bottom: 0px;
  }

  #guiding-principles h3 {
    font-size: 85%;
    margin: 0;
    padding: 0;
    writing-mode: horizontal-tb; /* Change the writing mode to horizontal */
  }

  #guiding-principles p {
    font-size: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

/* Mobilephones in landscape mode 667px and up */
@media screen and (min-width: 667px) 
  and (orientation: landscape) {
  /* we only need to adjust the Hero/Vision text and the floating nav bar to be visible in landscape mode on a mobile*** */
  #vision-text {
    font-size: 150%; 
    width: 100%;
  }

   #floating-nav-container {
    top: 65%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  #floating-nav-container {
    top: 85%;
  }

  /* Vision Section *************************************** */
  #vision {
    height: 40vh;
  }

  #vision-text {
    font-size: 350%;
    width: 700px;
  }

  /* Product Categories **************************************** */
  .category-flex-container {
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 10px;
  }

  .product-category {
    width: 110px;
    height: 110px;
    padding-top: 4%;
  }

  .product-category p {
    font-size: 1rem;
  }

  .product-category i {
    font-size: 2rem;
  }

  /* special offers carousel ****************************** */
  .offers {
    margin: 4% 3% 3% 3%;
  }

  .offers h2 {
    font-size: 140%;
  }

  #special-offers {
    padding-bottom: 20px;
  }

  .list {
    gap: 10px;
  }

  .item {
    width: 30%;
    height: 400px;
  }

  .restrictions {
    font-size: 110%;
  }

  .offer-text {
    font-size: 120%;
  }

  .pricing {
    font-size: 110%;
  }

  .button {
    top: 91%;
  }

  .button--previous {
    left: 46%;
  }

  .button--next {
    right: 46%;
  }

  /* Guiding Principles Section ******************************************** */
  #guiding-principles {
    line-height: 20px;
    margin: 30px 3% 30px 3%;
  }

  #guiding-principles h2 {
    font-size: 140%;
  }

  .grid-container-left {
    grid-template-columns: 120px 1fr;
    /* Adjusted for one row for the header and the second for the content */
  }

  .grid-container-right {
    grid-template-columns: 1fr 120px;
    /* Adjusted for one row with specific column sizes */
  }

  #guiding-principles h3 {
    font-size: 100%;
  }

  #guiding-principles p {
    font-size: 110%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  /* Vision Section *************************************** */
  #vision {
    height: 45vh;
  }

  #vision-text {
    font-size: 450%;
    width: 1200px;
  }

  /* special offers carousel ****************************** */
  #special-offers {
    padding-bottom: 30px;
  }
  .list {
    gap: 15px;
  }
  .item {
    width: 25%;
    max-width: 311px;
    height: 400px;
  }
  .restrictions {
    font-size: 115%;
  }
  .offer-text {
    font-size: 125%;
  }
  .pricing {
    font-size: 115%;
  }
}

/* Extra large devices (large laptops and desktops, 1736px and up) */
@media only screen and (min-width: 1736px) {

  /* Vision Section *************************************** */
  #vision {
    height: 45vh;
  }

  #vision-text {
    font-size: 600%;
    width: 1100px;
  }

  /* special offers carousel ****************************** */
  .button {
    display: none;
  }
}