/* Products Page Styles */

/* Hero Section for vision */
#products-hero {
    background: url("../images/2020-12-05_2457396479150999805.jpg") no-repeat center center/cover;
    border-radius: 2%;
    height: 20vh;
    left: 0;
    margin-top: 49px; /* to accomodate for the menu bar */
    margin-bottom: 10px;
    position: relative;
    padding: 0;
    top: 0;
    width: 100%;
  }

  #products-hero-text {
    border-radius: 2%;
    background-color: rgba(37, 77, 50, 0.7);
    bottom: 40px;
    position: absolute;
    padding: 5px;
    margin-left: 1%;
    text-align: left;
    width: 250px;
  }
  
  #products-hero-text > p {
      color: var(--copy-color-on-dark);
      font-size: 180%;
      font-family: var(--std-font), sans-serif;
      font-weight: bold;
      opacity: 1;
      text-decoration: solid;
      text-transform: uppercase;
    }


  /* Product Categories as sub-nav Section **************************************** */
  #product-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    position: relative; /* Ensure this element can overlap with the one above */
    margin-top: -4vh; /* Pull upwards to overlap with #products-hero */
  }
  
  .category-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 5px;
  }
  
  .product-category {
    text-align: center;
    width: 55px;
    height: 55px;
    margin-top: 1%;
    margin-bottom: 2%;
    opacity: 0.8;
    padding-top: 3%;
    color: var(--hdline-on-card);
    font-family: var(--std-font), sans-serif;
    font-weight: bold;
    background-color: var(--box-color);
    border-radius: 10%;
    box-shadow: rgba(37, 77, 50, 0.25) 0px 14px 55px,
      rgba(37, 77, 50, 0.12) 0px -12px 20px,
      rgba(37, 77, 50, 0.12) 0px 4px 6px,
      rgba(37, 77, 50, 0.17) 0px 12px 13px,
      rgba(37, 77, 50, 0.09) 0px -3px 5px;
  }
  
  .product-category p {
    font-size: 0.6rem;
  }
  
  .product-category i {
    font-size: 1.3rem;
  }
  
    /* Product Categories Content Section **************************************** */
    /* General styles for the products grid */
    
    .products-grid {
      width: 90%;
      margin: 5% auto; /* Align horizontally in the center of the viewport */
    }

    #groceries,
    #coffee-bar,
    #refills,
    #cheese,
    #bread {
        display: grid;
        grid-template-columns: 1fr; /* Each category takes full width */
        gap: 10px; /* Margin between categories */
        position: relative; /* Allows absolute positioning of elements inside */
        background-color: #ffffff; /* Default background color */
        margin: 10% 0;
    }
    
    .product-img img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    
    /* Positioning the <h3> over the image */
    .products-text h3 {
        position: absolute;
        top: 10px; /* Adjust as needed */
        left: 10px; /* Adjust as needed */
        color: white; /* Ensures visibility over the image */
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
        padding: 5px;
        border-radius: 5px;
    }
    
    /* Styling for the descriptive text */
    .products-text p {
        padding: 0 0 5px 0; /* Adds padding around the text for better readability */
        color: #333; /* Dark text color for readability */

    }