/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'NouveauYearsObliqueJNL';
  src: url('../fonts/NouveauYearsObliqueJNL.eot');
  src: local('../fonts/NouveauYearsObliqueJNL'),
    url('../fonts/NouveauYearsObliqueJNL.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NouveauYearsObliqueJNL.woff2') format('woff2'),
    url('../fonts/NouveauYearsObliqueJNL.woff') format('woff'),
    url('../fonts/NouveauYearsObliqueJNL.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NouveauYearsJNL';
  src: url('../fonts/NouveauYearsJNL.eot');
  src: local('../fonts/NouveauYearsJNL'),
    url('../fonts/NouveauYearsJNL.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NouveauYearsJNL.woff2') format('woff2'),
    url('../fonts/NouveauYearsJNL.woff') format('woff'),
    url('../fonts/NouveauYearsJNL.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Asterisk wild card selector to override default styles - taken from Love Running project*/
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

  /* defining the color scheme as custom properties for easy adaptations later  */
  --bkgr-color: #ffffffff;
  --bkgr-color-dark: #254d32ff;
  --shdw-color: #181d27ff;
  --box-color: #faf9f9;
  --box-shadow: #d8f3dc;
  --hdline-on-white: #254d32ff;
  --hdline-on-card: #181d27ff;
  --copy-color: #181d27ff;
  --alt-copy-color: #254d32ff;
  --empf-color: #63C132;
  --copy-color-on-dark: #ffffffff;

  /* defining standard font */
  --std-font: "Poppins";
}

/* General styles */
body {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--copy-color);
  font-family: var(--std-font), sans-serif;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 0px;
  left: 0px;
  background-color: var(--bkgr-color);
}

/* H1 style */
h1,
h2,
h3 {
  font-family: var(--std-font), sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--hdline-on-white);
  padding-left: 0.5rem;
  font-size: 80%;
}

.sections {
  margin: 0px;
  padding: 0px;
}

.hidden-heading {
  display: none;
}

#logo {
  font-family: NouveauYearsJNL, serif;
  font-size: 130%;
}

.SuperCap {
  font-family: NouveauYearsObliqueJNL, serif;
  font-size: 150%;
  letter-spacing: 2px;
}

/* Header / Menu Bar ***************************************   */
header {
  position: fixed;
  background-color: var(--bkgr-color);
  padding: 0 1.5rem 0 0.2rem;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px var(--shdw-color);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* format the header */
header a {
  text-decoration: none;
  color: inherit;
}

#menu {
  list-style: none;
  letter-spacing: 2px;
  font-size: 110%;
}

#menu>li {
  margin-bottom: 1em;
}

.active {
  border-bottom: 1px solid var(--empf-color);
}

/* menu drop down */
nav {
  position: absolute;
  background-color: var(--bkgr-color);
  padding: 0 1rem;
  z-index: 99;
  box-shadow: 0 1px 1px var(--shdw-color);
  display: none;
  top: 100%;
  width: fit-content;
  right: 0;
  text-align: right;
}

/* nav toggle */
#nav-toggle:checked~nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
}

/*  floating nav element class *****************************  */
#floating-nav-container {
  position: fixed;
  width: 40px;
  height: 106px;
  top: 82%;
  right: 3%;
  text-align: center;
  z-index: 99;
  background-color: var(--bkgr-color);
  opacity: 0.8;
  border-radius: 10%;
  padding-left: 2.5px;
  padding-bottom: 1px;
}

.floating-nav {
  position: relative;
  width: 34px;
  height: 34px;
  z-index: 99;
  font-size: 28px;
  color: var(--empf-color);
  line-height: 40px;
}

.floating-nav a {
  font-size: 28px;
  color: var(--empf-color);
}

#opening-hours-slideout {
  display: none;
  /* Hide opening hours #opening-hours-slideout by default */
  color: var(--empf-color);
  position: absolute;
  right: 40px;
  /* Position to the left of the floating nav */
  top: 0px;
  white-space: nowrap;
  /* Ensure text does not wrap */
  background-color: var(--bkgr-color-dark);
  /* Use the same background color */
  border-radius: 10px;
  /* Optional: match the nav container's border radius */
  padding: 5px;
  opacity: 1;
  /* Change opacity to 1 to make it not opaque */
  z-index: 99;
}

#opening-hours-slideout p {
  font-weight: bold;
  opacity: 1;
  text-align: left;
  color: var(--copy-color-on-dark);
}

#contact-slideout {
  display: none;
  /* Hide opening hours #opening-hours-slideout by default */
  color: var(--empf-color);
  position: absolute;
  right: 40px;
  /* Position to the left of the floating nav */
  top: 0px;
  white-space: nowrap;
  /* Ensure text does not wrap */
  background-color: var(--bkgr-color-dark);
  /* Use the same background color */
  border-radius: 10px;
  /* Optional: match the nav container's border radius */
  padding: 5px;
  opacity: 1;
  /* Change opacity to 1 to make it not opaque */
  z-index: 99;
}

#contact-slideout p {
  font-weight: bold;
  opacity: 1;
  text-align: left;
  padding-right: 10px;
  color: var(--copy-color-on-dark);
}

#contact-slideout a {
  color: var(--copy-color-on-dark);
  /*   text-decoration: underline; */
}

.hidden {
  display: none;
}


/* Main ************************************************ */
main {
  /* make main element take up any surplus space  to push footer to bottom */
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* save some space for footer */
  margin-top: 0px;
  min-height: 100vh;
  position: relative;
  padding-bottom: 50px;
}

/* Hero Section for vision */
#vision {
  position: relative;
  top: 0;
  left: 0;
  border-radius: 2%;
  padding: 0;
  margin-top: 49px;
  /* to accomodate for the menu bar */
  margin-bottom: 10px;
  padding: 0;
  height: 30vh;
  width: 100%;
  background: url("../images/organic-farm-harvests-fresh-fruit-vegetables-generated-by-ai_188544-36467.avif") no-repeat center center/cover
}

#vision-text {
  color: var(--copy-color-on-dark);
  font-size: 180%;
  text-transform: uppercase;
  font-family: var(--std-font), sans-serif;
  font-weight: bold;
  position: absolute;
  bottom: 30px;
  width: 300px;
  padding: 10px;
  border-radius: 2%;
  margin-left: 1%;
  text-align: left;
}

/* Product Categories **************************************** */
#product-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.category-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  gap: 10px;
}

.product-category {
  text-align: center;
  width: 80px;
  height: 80px;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-top: 5.5%;
  color: var(--hdline-on-card);
  font-family: var(--std-font), sans-serif;
  font-weight: bold;
  background-color: var(--box-color);
  border-radius: 10%;
  box-shadow: rgba(37, 77, 50, 0.25) 0px 14px 55px,
    rgba(37, 77, 50, 0.12) 0px -12px 20px,
    rgba(37, 77, 50, 0.12) 0px 4px 6px,
    rgba(37, 77, 50, 0.17) 0px 12px 13px,
    rgba(37, 77, 50, 0.09) 0px -3px 5px;
}

.product-category p {
  font-size: 0.7rem;
}

.product-category i {
  font-size: 1.7rem;
}

/* special offers carousel ****************************** example taken from: https://codepen.io/tutsplus/pen/zYyGpYo */
.offers {
  margin: 9% 0 3% 0;
}

#special-offers {
  /* creating a gradiant effect fot the background */
  background: rgb(37, 77, 50);
  background: linear-gradient(0deg, rgba(37, 77, 50, 1) 33%, rgba(255, 255, 255, 1) 89%);
  overflow: visible;
  justify-content: space-around;
  position: relative;
  padding-bottom: 15px;
}

.offers h2 {
  font-size: 100%;
  color: var(--copy-color);
  margin-bottom: 15px;
}

#offer-cards {
  position: relative;
}

.list {
  display: flex;
  gap: 8px;
  padding: 16px 16px 40px 8px;
  list-style: none;
  overflow-x: auto;
  /* Changed from scroll to auto */
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  /* For Firefox */
}

/* For Chrome, Safari, and other WebKit-based browsers */
.list::-webkit-scrollbar {
  display: none;
}

.item {
  flex-shrink: 0;
  width: 60%;
  height: 300px;
  background-color: #FFF;
  scroll-snap-align: center;
  border-radius: 5%;
  /*  border: 1px solid black; */
}

.content {
  align-items: center;
  justify-content: left;
  height: 100%;
  color: var(--copy-color);
  font-family: var(--std-font), sans-serif;
  font-size: 85%;
  text-align: left;
}

.content p {
  padding: 0 5% 0 5%;
}

.restrictions {
  margin-bottom: 5px;
}

.offer-text {
  font-size: 110%;
}

.pricing {
  font-weight: bold;
  margin-top: 15px;
}

.slide-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}

.button {
  position: absolute;
  top: 88%;
  width: 2rem;
  height: 1.5rem;
  padding-bottom: 1px;
}

.button--previous {
  left: 40%;
  transform: rotate(180deg);
}

.button--next {
  right: 40%;
}

/* guiding-principles section *********************************** */
#guiding-principles {
  line-height: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-bottom: 20px;
}

/* heading left and vertical */
.grid-container-left {
  display: grid;
  grid-template-columns: 40px 1fr;
  /* Adjusted for one row for the header and the second for the content */
  gap: 1px;
}

.horizontal-left {
  text-align: left;
  /* left aligns the text horizontally */
}

.vertical-left {
  writing-mode: vertical-rl;
  padding-right: 10px;
  text-align: center;
  align-items: center;
  /* This will vertically center the content */
  justify-content: center;
  /* Horizontally centers the content */
  background-color: var(--bkgr-color-dark);
  color: var(--copy-color-on-dark);
}

/* heading right and vertical */
.grid-container-right {
  display: grid;
  grid-template-columns: 1fr 40px;
  /* Adjusted for one row with specific column sizes */
  gap: 1px;
}

.horizontal-right {
  text-align: right;
  /* left aligns the text horizontally */
}

.vertical-right {
  writing-mode: vertical-rl;
  line-height: 30px;
  padding-right: 10px;
  text-align: center;
  align-items: center;
  /* This will vertically center the content */
  justify-content: center;
  /* Horizontally centers the content */
  background-color: var(--bkgr-color-dark);
  color: var(--copy-color-on-dark);
}

#guiding-principles h2 {
  font-family: var(--std-font) sans-serif;
  margin-bottom: 15px;
  font-size: 100%;
}

#guiding-principles h3 {
  font-family: var(--std-font) sans-serif;
  margin-bottom: 1%;
  font-size: 75%;
  color: var(--copy-color-on-dark);
}

#guiding-principles p {
  font-size: 90%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Social Networks icons */
#social-networks {
  display: none;
}

#social-networks-dropdown {
  list-style: none;
  padding-bottom: 1rem;
}

#social-networks-dropdown i {
  font-size: 160%;
  padding: 5%;
  color: #3a3a3a;
}

/* Footer */
#footer-div {
  position: absolute;
  width: 100%;
  height: 48px;
  left: 0;
  bottom: 0;
  padding: 0 1rem 0 1rem;
  background-color: var(--bkgr-color-dark);
  z-index: 90;
  box-shadow: 0 2px 2px var(--shdw-color);
  text-align: left;
}

#footer-div p {
  color: var(--copy-color-on-dark);
  font-size: 90%;
  font-family: var(--std-font), sans-serif;
  line-height: 38px;
}

/* typical breakpoints */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .carousel-slide {
    flex: 1 0 80%;
  }
}

/* Media query: tablets and larger (768px and up */
@media screen and (min-width: 768px) {

  /* Menue Bar and Header section ****************************************** */
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }

  /*  floating nav element class *****************************  */
  #floating-nav-container {
    top: 85%;
  }

  /* Vision Section *************************************** */
  #vision {
    height: 35vh;
  }

  #vision-text {
    font-size: 250%;
    width: 500px;
  }

  /* Product Categories **************************************** */
  .product-category {
    width: 100px;
    height: 100px;
    padding-top: 5.5%;
  }

  /* special offers carousel ****************************** */
  .offers {
    margin: 4% 0 3% 0;
  }

  .list {
    gap: 10px;
  }

  .item {
    width: 35%;
  }

  /* Guiding Principles Section ******************************************** */
  .grid-container-left {
    grid-template-columns: 100px 1fr;
    /* Adjusted for one row for the header and the second for the content */
  }

  .grid-container-right {
    grid-template-columns: 1fr 100px;
    /* Adjusted for one row with specific column sizes */
  }

  .vertical-right,
  .vertical-left {
    padding: 5px 0 5px 0;
    line-height: 20px;
  }

  .grid-item {
    margin-bottom: 0px;
  }

  #guiding-principles h3 {
    font-size: 85%;
    margin: 0;
    padding: 0;
    writing-mode: horizontal-tb;
    /* Change the writing mode to horizontal */
  }

  #guiding-principles p {
    font-size: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  /* on bigger screens the social networks should be displayed on the bottom */
  #social-networks-dropdown {
    display: none;
  }

  #menu {
    display: flex;
  }

  #menu>li {
    padding-left: 1rem
  }

  .nav-toggle-label {
    display: none;
  }

  #logo {
    font-size: 150%;
    line-height: 75px;
    margin: 0 0.5rem;
  }

  .button--previous {
    left: 45%;
  }

  .button--next {
    right: 45%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  /* Vision Section *************************************** */
  #vision {
    height: 45vh;
  }

  #vision-text {
    font-size: 350%;
    width: 700px;
  }

  /* Product Categories **************************************** */
  .category-flex-container {
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 10px;
  }

  .product-category {
    width: 110px;
    height: 110px;
    padding-top: 4%;
  }

  .product-category p {
    font-size: 1rem;
  }

  .product-category i {
    font-size: 2rem;
  }

  /* special offers carousel ****************************** */
  .offers {
    margin: 4% 3% 3% 3%;
  }

  .offers h2 {
    font-size: 140%;
  }

  #special-offers {
    padding-bottom: 20px;
  }

  .list {
    gap: 10px;
  }

  .item {
    width: 30%;
    height: 400px;
  }

  .restrictions {
    font-size: 110%;
  }

  .offer-text {
    font-size: 120%;
  }

  .pricing {
    font-size: 110%;
  }

  .button {
    top: 91%;
  }

  .button--previous {
    left: 46%;
  }

  .button--next {
    right: 46%;
  }

  /* Guiding Principles Section ******************************************** */
  #guiding-principles {
    line-height: 20px;
    margin: 30px 3% 30px 3%;
  }

  #guiding-principles h2 {
    font-size: 140%;
  }

  .grid-container-left {
    grid-template-columns: 120px 1fr;
    /* Adjusted for one row for the header and the second for the content */
  }

  .grid-container-right {
    grid-template-columns: 1fr 120px;
    /* Adjusted for one row with specific column sizes */
  }

  #guiding-principles h3 {
    font-size: 100%;
  }

  #guiding-principles p {
    font-size: 110%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  /* Vision Section *************************************** */
  #vision {
    height: 60vh;
  }

  #vision-text {
    font-size: 500%;
    width: 900px;
  }

  /* special offers carousel ****************************** */
  #special-offers {
    padding-bottom: 30px;
  }
  .list {
    gap: 15px;
  }
  .item {
    width: 25%;
    max-width: 311px;
    height: 400px;
  }
  .restrictions {
    font-size: 115%;
  }
  .offer-text {
    font-size: 125%;
  }
  .pricing {
    font-size: 115%;
  }
}

/* Extra large devices (large laptops and desktops, 1736px and up) */
@media only screen and (min-width: 1736px) {

  /* Vision Section *************************************** */
  #vision {
    height: 70vh;
  }

  #vision-text {
    font-size: 600%;
    width: 1100px;
  }

  /* special offers carousel ****************************** */
  .button {
    display: none;
  }
}