/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'NouveauYearsObliqueJNL';
  src: url('../fonts/NouveauYearsObliqueJNL.eot');
  src: local('../fonts/NouveauYearsObliqueJNL'),
    url('../fonts/NouveauYearsObliqueJNL.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NouveauYearsObliqueJNL.woff2') format('woff2'),
    url('../fonts/NouveauYearsObliqueJNL.woff') format('woff'),
    url('../fonts/NouveauYearsObliqueJNL.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NouveauYearsJNL';
  src: url('../fonts/NouveauYearsJNL.eot');
  src: local('../fonts/NouveauYearsJNL'),
    url('../fonts/NouveauYearsJNL.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NouveauYearsJNL.woff2') format('woff2'),
    url('../fonts/NouveauYearsJNL.woff') format('woff'),
    url('../fonts/NouveauYearsJNL.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Asterisk wild card selector to override default styles - taken from Love Running project*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /* defining the color scheme as custom properties for easy adaptations later  */
  --bkgr-color: #ffffffff;
  --shdw-color: #181d27ff;
  --hdline-on-white: #254d32ff;
  --hdline-on-card: #181d27ff;
  --copy-color: #181d27ff;
  --alt-copy-color: #254d32ff;
  --empf-color: #63C132;

  --std-font: "Poppins";

  /* Org from coolors.com
  --vanilla: #d0db97ff;
  --emerald: #69b578ff;
  --fern-green: #3a7d44ff;
  --cal-poly-green: #254d32ff;
  --raisin-black: #181d27ff;
} */
}

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* generic project styles */
  color:  var(--copy-color);
  font-family: var(--std-font), sans-serif;
  margin: 0px;
  position: relative;
  background-color: var(--bkgr-color);
}

/* H1 style */
h1,
h2,
h3 {
  font-family: var(--std-font), sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--hdline-on-white);
}

.hidden-heading {
  display: none;
}

#logo {
  font-family: NouveauYearsJNL, serif;
}

/* Header */
header {
  background-color: var(--bkgr-color);
  padding: 0 1.5rem 0 0.5rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px var(--shdw-color);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* format the header */
header a {
  text-decoration: none;
  color: inherit;
}

#menu {
  list-style: none;
  letter-spacing: 2px;
  font-size: 110%;

}

#menu>li {
  margin-bottom: 1em;

}

.active {
  border-bottom: 1px solid var(--empf-color) ;
}


/* navbar styles with drop down toggle */
nav {
  position: absolute;
  background-color: var(--bkgr-color);
  padding: 0 1rem;
  z-index: 99;
  box-shadow: 0 2px 2px var(--shdw-color);
  display: none;
  top: 100%;
  /* alighn drop down menue to the right 
  org: left: 0; width: 100% */
  width: fit-content;
  right: 0;
  text-align: right;
}

/* nav toggle */
#nav-toggle:checked~nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
}

/*  floating nav element class */
.floating-nav {
  position: fixed;
  display: flex; 
  border: 1px solid  var(--empf-color);
  justify-content: center;
  align-items: center;
  /* align-content: center; */
  z-index: 99;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  color: var(--empf-color);
  opacity: 0.7;
}

.floating-nav a {
  font-size: 30px;
  color: var(--empf-color);
} 

#maps-link {
  right: 20px;
  top: 65%;
}

#opening-hours {
  right: 20px;
  top: 70%;
}

#contact-form {
  right: 20px;
  top: 75%;
}
/* Main */
main {
  /* make main element take up any surplus space  to push footer to bottom */
  flex: 1 0 auto;
  /* add margin to the top to prevent content from beeing covered by header */
  /* margin-top: 47px; */
  /* enable flex properties for child elements */
  display: flex;
  flex-direction: column;
  /* added from special offers carousal */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 64px;
}

/* Hero Section for vision */
#vision {
  height: 50vh;
  width: 100%;
  background: url("../images/2021-03-26_2537931490870063176.jpg") no-repeat center center/cover;
  /* ../images/2021-02-01_2499584393406262303.jpg or ../images/2021-04-05_2545205393057299317.jpg*/
  position: relative;
  padding-bottom: 0;
}

#vision-text {
  background-color: var(--bkgr-color);
  color: var(--empf-color);
  opacity: 0.8;
  font-size: 100%;
  font-family: var(--std-font), sans-serif;
  font-weight: bold;
  position: absolute;
  bottom: 30px;
  width: 70%;
  min-height: 100px;
  padding: 10px;
  border-radius: 5%;
  margin-left: 1%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
}

.product-category {
  text-align: center;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  height: 100%;
  width: 75%;
  padding: 5% 5% 5% 5%;
  color: #8b4513;
  font-family: var(--std-font), sans-serif;
  font-size: 75%;
  font-weight: bold;
  background-color: #FFD700;
  border-radius: 10%;
}

.products-view-more {
  width: 75%;
  height: 32px;
  background-color: #8b4513;
  color: white;
  text-transform: uppercase;
}

.product-circle {
  margin-left: 6vw;
  margin-bottom: 5%;
  width: 35vw;
  height: 35vw;
  border-radius: 50%;
  max-width: 150px;
  max-height: 150px;
  background-color: #FF6347;
  border: 1px solid black;
}

.product-circle>i {
  font-size: 350%;
  padding-top: 10vw;
  color: #4CAF50;

}

/* Social Networks icons */
#social-networks {
  display: none;
}

#social-networks-dropdown {
  list-style: none;
  padding-bottom: 1rem;
}

#social-networks-dropdown i {
  font-size: 160%;
  padding: 5%;
  color: #3a3a3a;
}

#footer-div {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 5px;
  background-color: #8b4513;
}

#footer-div p {
  color: white;
  margin: 0;
  font-size: 70%;
  font-family: var(--std-font), sans-serif;
}


/* Media query: tablets and larger (768px and up */
@media screen and (min-width: 768px) {

  /* Header */
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }

  /* on bigger screens the social networks should be displayed on the bottom */
  #social-networks-dropdown {
    display: none;
  }

  #menu {
    display: flex;
  }

  #menu>li {
    padding-left: 1rem
  }

  .nav-toggle-label {
    display: none;
  }

  #logo {
    font-size: 150%;
    line-height: 75px;
    margin: 0 0.5rem;
  }
}

@media (max-width: 600px) {
  .carousel-slide {
    flex: 1 0 80%;
  }
}